a.btn.btn-primary {
    background-color: orangered;
    border-color: orangered;
}

a.btn.btn-default {
    background-color: orangered;
    border-color: orangered;
    color: floralwhite;
    opacity: 10%;
}
div.jumbotron h1 {
    color: floralwhite;
    text-shadow: 2px 3px #888888;
}
fieldset#prepareBilling, #creditCardInfo {
	display: none;
	padding-left:20px;
}
fieldset#buildPizza {
	display: none;
}
/*h3 #thankyou {
	font-size: 18pt;
}*/
#imageSet {
	display: block;
}
label span, input + p, select + p {
	color: red;
}
.container h2 {
	padding-top: 20px;
}
.container h4 {
	padding-top: 10px;
	font-weight: 600;
}
.foodItems {
	padding: 20px;
	/*margin-right: 50px;*/
}
.jumbotron {
    background-image: url(../images/pizza.jpe);
    background-repeat: no-repeat;
    background-size: 100%;
} 

